h1 {
    color: red;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: dashed 2px black;
    padding-top: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p.first-p {
    color: blue
}